# =========================
# Node & Frontend (React/Vite)
# =========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env*
frontend/.eslintcache

# =========================
# Python & Backend (FastAPI)
# =========================
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/venv/
backend/env/
backend/.venv/
backend/.env
backend/travelgo.db

# =========================
# IDEs and OS Files
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

#k8s 
k8s/secrets.yaml